#Github Workflow to find and notify about misspellings
#
#SPDX-FileCopyrightText: 2025 Intevation GmbH
#SPDX-License-Identifier: AGPL-3.0-or-later

name: "Codespell spelling check"

on:
  push:
    paths-ignore:
      - '.github/**'
  pull_request:
    paths-ignore:
      - '.github/**'
  workflow_dispatch:

jobs:
  codespell:
    name: Find and notify about common misspellings
    runs-on: ubuntu-latest
    # This should not fail the whole workflow run
    continue-on-error: true

    steps:
    - name: Checkout repository
      uses: actions/checkout@v5
    - name: Run codespell
      uses: codespell-project/actions-codespell@v2
      with:
        check_hidden: true
        check_filenames: true
        # for www.bsi.bund.de
        ignore_words_list: bund
